################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Hack.System/v14
/.vs/Hack.System/v15
/Hack System/obj/Debug/TempPE
/Hack System/obj/Debug
/Hack System/bin/Debug
/Hack System/bin/Release
/Hack System/obj/Release
/Hack System/bin/x86/Release
/Hack System/obj/x86/Release
/Hack System/bin/x86/Debug
/Hack System/obj/x86/Debug
