<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HackSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <HackSystem.My.MySettings>
            <setting name="UserHead" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameBitmap" serializeAs="String">
                <value />
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginWallpaperIndex" serializeAs="String">
                <value />
            </setting>
            <setting name="DesktopWallpaperIndex" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomWallpaper" serializeAs="String">
                <value />
            </setting>
        </HackSystem.My.MySettings>
    </userSettings>
</configuration>